<!DOCTYPE html>
<html lang="en">
  <body>
    <div th:fragment="sidebar" id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" th:href="@{/page/dashboard}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
              Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">Table</div>
            <a class="nav-link" th:href="@{/page/activite}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-list"></i>
              </div>
              Activité
            </a>
            <a class="nav-link" th:href="@{/page/bouquet}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-stream"></i>
              </div>
              Bouquet
            </a>
            <a class="nav-link" th:href="@{/page/bouquet-activites}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-th"></i>
              </div>
              Bouquet activité
            </a>
          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small">Logged in as:</div>
          Start Bootstrap
        </div>
      </nav>
    </div>
  </body>
</html>
